{{ define "chat" }}
            <div class="container rounded border d-flex flex-column shadow bg-body p-4 fade-in" style="min-height: 50vh;">
                <div class="row flex-grow-1 overflow-auto" id="chat-area" aria-live="polite" aria-relevant="additions">
                    <div class="col-12">
                        <div id="chat-container" class="d-flex flex-column">
                            <div class="assistant-chat-message align-self-start bg-white text-dark border rounded p-2 mb-2 shadow-sm"
                                style="max-width: 70%;">
                                Hello! How can I help you?
                            </div>

                            <!-- Conversation -->

                        </div>
                    </div>
                </div>
                <div id="spinner" class="htmx-indicator d-none">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="mt-auto">
                    <form id="chat-form" hx-post="/chat" hx-target="#chat-container" hx-swap="beforeend" hx-trigger="submit"
                        onsubmit="return validateMessage()">
                        <input type="hidden" name="_csrf" value="{{ .CsrfToken }}">
                        <div class="input-group">
                            <input name="user-message" id="user-message" type="text" class="form-control"
                                placeholder="Type your message..." aria-label="Type your message and press enter to send.">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>

            <script>
                const chatContainer = document.getElementById('chat-container');

                // Auto-scroll upon new message
                document.addEventListener('htmx:afterSwap', (event) => {
                    if (event.target.id === 'chat-container') {
                        chatContainer.scrollTop = chatContainer.scrollHeight;
                    }
                });

                // Message validation
                function validateMessage() {
                    const messageInput = document.getElementById('user-message');
                    if (!messageInput.value.trim()) {
                        alert("Message cannot be empty.");
                        return false;
                    }
                    return true;
                }
            </script>
            {{ end }}


            {{ define "chatresponse" }}
            <div class="user-chat-message align-self-end bg-primary text-white border rounded p-2 mb-2 shadow-sm"
            	style="max-width: 70%;">
            	{{ .UserMsg }}
            </div>
            <div class="assistant-chat-message align-self-start bg-white text-dark border rounded p-2 mb-2 shadow-sm"
            	style="max-width: 70%;">
            	{{ .AssistantMsg }}
            </div>
            {{ end }}