{{ define "head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/public/favicon.png" />

<link rel="stylesheet" href="/public/css/shade-bs.css" />
<link rel="stylesheet" href="/public/css/styles.css" />
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/darkmode.js"></script>
<script src="/public/js/htmx.min.js"></script>
<script src="/public/js/chart.umd.js"></script>
<script src="/public/js/highlight.min.js"></script>
<script src="/public/js/mermaid.min.js"></script>

<link rel="stylesheet" href="/public/css/satoshi.css" />
<style>
	body {
		font-family: Satoshi-Medium;
	}
</style>
{{ end }}

{{ define "footscripts" }}
<script src="/public/js/email.js"></script>
<script src="/public/js/chart.js"></script>
{{ end }}
