{{ define "prices" }}
<div class="col-12 col-md-4 pt-4">
	<div class="card">
		<div class="card-header fw-bold">
			BTC
		</div>
		<div class="card-body">
			{{ .BTC }}
		</div>
	</div>
</div>
<div class="col-12 col-md-4 pt-4">
	<div class="card">
		<div class="card-header fw-bold">
			ETH
		</div>
		<div class="card-body">
			{{ .ETH }}
		</div>
	</div>
</div>
<div class="col-12 col-md-4 pt-4">
	<div class="card">
		<div class="card-header fw-bold">
			ZEC 
		</div>
		<div class="card-body">
			{{ .ZEC }}
		</div>
	</div>
</div>
{{ end }}
